<section>
  <div class="welcome-text">
    Willkommen zur Seminarverwaltung <i>Neue Konzepte der Informatik</i>! Um zu kommentieren und Themen zu bewerten, müssen Sie sich anmelden.
  </div>
</section>

<section class="welcome-actions">
  <button class="welcome-action-button">Vorträge durchstöbern</button>
  <button class="welcome-action-button">Themen durchstöbern</button>
</section>

<section class="welcome-desc">
  <h2>Beschreibung<h2>
  <div class="text-body">
    <p>Im Seminar „Neue Konzepte der Informatik“ können Studierende ein Informatikthema ihrer Wahl vorstellen. Der Vortrag sollte hauptsächlich lehrreich sein, sodass die Zuhörer einen Einblick in ein spezielles, ihnen wahrscheinlich noch unbekanntes Gebiet bekommen. Neben dem Lehrauftrag sollte der mindestens 60 minütige Vortrag für das Publikum unterhaltsam sein, sodass Interesse für das Thema geweckt wird.</p>
    <p>Ziel ist es, ein Umfeld zu bieten, in dem motivierte Studenten interessante Vorträge über interessante Themen halten können. So möchten wir über den Lehrplan hinausgehendes Engagement im Bereich der Informatik durch Credits belohnen. Anders als die meisten Seminaren ist dieses Seminar öffentlich; insbesondere passive Teilnehmer sind somit herzlich eingeladen, um interessante und unterhaltsame Vorträge zu hören und sich über das Angebot der Uni hinaus zu bilden.</p>
    <p> Geplant ist eine mögliche Anrechnung als Informatik Bachelor- und Masterseminar.</p>
  </div>
</section>
