<h2>Vorträge im <%= @semester %></h2>

<% if @talks.empty? %>
  <div class="note">Noch keine Vorträge eingetragen</div>
<% end %>
<table class="talk-table">
  <tbody>
    <% @talks.each do |talk| %>
      <%= render talk %>
    <% end %>
  </tbody>
</table>
