<button class="show-all-button" id="show-all-talks">Alle ausklappen</button>
<h1>Vorträge im <%= current_semester %></h1>
<br style="clear: right" />

<% if @talks.empty? %>
  <div class="note">Noch keine Vorträge eingetragen</div>
<% end %>
<table class="talk-table">
  <tbody>
    <% @talks.each do |talk| %>
      <%= render talk %>
    <% end %>
  </tbody>
</table>
