// Place all the styles related to the topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'globals.scss';

.new-topic {
  @include button(#9c9, #0b0);

  float: right;
  margin-top: 5px;
  // width: 150px;
  color: #040;

  &:hover {
    color: #060;
  }

  &:active {
    margin-top: 6px;
  }
}

.topic-table {
  width: 100%;
  border-spacing: 3px 1px;

  tr.topic-title {
    height: 35px;
    cursor: pointer;

    &:hover td {
      background-color: $table-color-hover;
    }

    td:first-child {
      padding-left: 32px;
      background-image: asset_url('star.svg');
      background-repeat: no-repeat;
      background-size: 26px;
      background-position: 2px center;
      width: 24px;
      max-width: 24px;
      text-align: center;
    }
    td:nth-child(2) {
      padding-left: 32px;
      background-image: asset_url('comment.svg');
      background-repeat: no-repeat;
      background-size: 26px;
      background-position: 2px center;
      width: 24px;
      max-width: 24px;
      text-align: center;
    }
    td:nth-child(3) {
      font-size: 15pt;
      font-weight: 600;
    }
    td:last-child {
      width: 35px;

      background-color: #6CEDB7;
      background-image: asset_url('arrow-right.svg');
      background-repeat: no-repeat;
      background-size: 26px;
      background-position: center;
      padding: 0;

      &:hover {
        background-color: darken(#6CEDB7, 20%);
      }

      a {
        display: block;
        text-decoration: none;
        font-size: 0;
        height: 35px;
        width: 100%;
      }
    }

    td {
      background-color: $table-color;
      // border-radius: 3px;
      padding: 5px 10px;
      margin: 5px;
      font-size: 14pt;
    }
  }

  tr.topic-detail > td > div {
    border-left: 2px solid $table-color-hover;
    border-right: 2px solid $table-color-hover;
    height: 0px;
    overflow: hidden;
    padding: 0px 10px;
    font-family: $serif-font;
    font-weight: 300;
    font-size: 12pt;
    line-height: 24px;
    transition: height 0.4s, padding 0.4s;
  }

  tr.topic-detail.active > td > div {
    height: 110px;
    padding: 5px 10px;
  }

  .topic-detail > td > div > a {
    float: right;
  }

  .topic-detail:last-child.active > td > div {
    border-bottom: 2px solid $table-color-hover;
  }

  .topic-detail-desc {
    height: 85px;
    overflow: hidden;

    & > * {
      display: none;

      &:first-child {
        display: block;
        margin: 8px 0px;
      }
    }
  }
}

.star-container {
  float: right;
  padding-top: 10px;

  strong {
    font-size: 27pt;
    vertical-align: middle;
    font-weight: 400;
    margin-right: 10px;
  }

  form {
    display: inline;

    input[type="submit"] {
      border: none;
      background-color: transparent;
      background-image: asset_url('star.svg');
      background-repeat: no-repeat;
      background-size: 40px;
      background-position: 2px center;
      width: 42px;
      height: 42px;
      text-align: center;
      padding-top: 5px;
      padding-left: 5px;
      opacity: 0.6;

      &.active {
        opacity: 1.0;

        &:hover {
          opacity: 0.6;
        }
      }

      &:hover {
        opacity: 1.0;
      }
    }

  }
}

.topic-meta {
  float: right;
  margin: 25px 10px;
  font-size: 11pt;
  text-align: right;
}

$comment-base-color: #D3F2DE;
$comment-bg: hsl(0, 0, 98%);
$comment-dark-color: darken($comment-base-color, 30%);

.comment {
  position: relative;
  clear: left;
  padding-left: 90px;
  margin-right: 90px;
  margin: 15px 0;

  .comment-avatar {
    width: 64px;
    margin-left: -90px;
    float: left;

    img {
      // border-radius: 5px;
    }
  }

  .comment-main {
    background-color: $comment-bg;

    .comment-body {
      @include markdown();

      line-height: 24px;

      border: 1px solid $comment-dark-color;
      padding: 10px;

      textarea {
        width: 100%;
        height: 100px;
        border-radius: 8px;
        padding: 10px;
        box-sizing: border-box;
        resize: vertical;
        font-family: $sans-font;
        font-size: 12pt;
        border: 1px solid hsl(0, 0, 66%);
        outline: none;

        &:focus {
          box-shadow: 0 0 0 1px hsl(0, 0, 50%);
        }
      }

      .actions {
        text-align: right;

        input[type="submit"] {
          @include button(hsl(0, 0, 66%), hsl(0, 0, 33%));

          display: inline-block;
          background-color: lighten($comment-dark-color, 10%);
          border-radius: 8px;
          margin: 5px 0px;

          &:hover {
            background-color: $comment-dark-color;
          }
          &:active {
            margin-top: 6px;
            margin-bottom: 4px;
          }
        }
      }
    }

    .comment-meta {
      background-color: $comment-dark-color;
      padding: 10px 13px;
      height: 20px;
      vertical-align: middle;
      font-size: 10pt;

      strong {
        font-size: 12pt;
      }

      .action-box {
        float: right;
      }
    }

    &::before {
      $arrow-size: 10px;

      content: " ";
      position: absolute;
      top: (40 - 2 * $arrow-size ) / 2;
      left: 90px -  $arrow-size;
      height: 0;
      width: 0;
      border-top: $arrow-size solid transparent;
      border-bottom: $arrow-size solid transparent;
      border-right: $arrow-size solid $comment-dark-color;
    }
  }

}

hr.comment-sep {
  margin-left: 90px;
  margin-top: 30px;
  margin-bottom: 30px;
  border: none;
  border-top: 1px solid hsl(0, 0, 80);
}

.comment-note {
  font-style: italic;
  margin-left: 90px;
}

.topic-form {
  input[type="text"] {
    width: 100%;

    padding: 6px 8px;
    margin: 10px 0;
    font-size: 15pt;
    font-weight: 700;
    font-family: $sans-font;
    box-sizing: border-box;
  }

  textarea {
    width: 100%;
    box-sizing: border-box;
    margin: 10px 0;
    padding: 8px;
    font-size: 17px;
    font-family: $serif-font;
    font-weight: 300;
    resize: vertical;
    min-height: 300px;
  }

  input[type="submit"] {
    @include button(#ccc, #555);
    float: right;
  }
}
